@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




:Root {

    --ff-prim: 'poppins', sans-serif; 


    --clr-dark-500: #272727;
    --clr-dark-200: #c5c5c5;
    --clr-light-900: #f7f7f2;
    --clr-accnt-p: #178f71;
    --clr-accnt-g: #119da4;



}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--ff-prim);
    background: var(--clr-light-900);
    min-height: 1500px;
}



.parralax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}






#mountain {
    z-index: 2;
   
    
}

.parralax::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #f7f7f2, transparent);
    z-index: 101;
}

.parralax::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f2cc;
    z-index: 100;
    mix-blend-mode: color;
}



.parralax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit:cover;
    pointer-events: none;
  

}

.container_parralax {
    position: relative;
    overflow: hidden;
}

.logo-outline {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    left: 0;
    right: 70px;
    text-align: center;
   position: absolute;
    max-width: 300px;
    max-height: 300px;
    z-index: 1;
    

    
  
}

    





header {

    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    padding-left: 2em;
    justify-content: space-between;
    position: fixed;
    z-index: 103;
    background: var(--clr-dark-500);
    
}


 header, .logo, a {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--clr-light-900);
    font-weight: 100;
    
}


ul {
    justify-content: flex-end;
    display: flex;
    list-style: none;
    padding-right: 2em;

}

a{
    padding: 1em;
    text-decoration: none;
    
}


.portfolio::before{
    content: '';
    width: 100%;
    height: 150px;
    position: relative;
    top: 0;
    background: linear-gradient(to bottom, #2b4141, transparent);
}



.hero{
    min-height: 100vh;
    display: flex;
    Padding: 0 3em;
    position: relative;
    margin-top: 15em;
    background-color: linear-gradient(to bottom, #272727, #202225, #151e21, #091a19, #00150b);
    
}

.name_img {
 background: url(/img/nick-iliasov-i0fCUofGjV8-unsplash-min.jpg)no-repeat center center;
 background-size: cover;
 color: #fff;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 font-size: 4rem;
 font-weight: 1000;
}




.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    text-align: left;
    padding: 2em;
}

.content p {

    font-size: 1.4rem;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.wid {
    padding-top: 1em;
    background: url(img/nick-iliasov-i0fCUofGjV8-unsplash-min.jpg);
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 3rem;
}





.hero img {
    border-radius: 15px;
    
    
}


