@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




:Root {

    --ff-prim: 'poppins', sans-serif; 


    --clr-dark-500: #272727;
    --clr-dark-200: #c5c5c5;
    --clr-light-900: #f7f7f2;
    --clr-accnt-p: #178f71;
    --clr-accnt-g: #119da4;



}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--ff-prim);
    background: var(--clr-dark-500);
    min-height: 1500px;
}



.parralax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


#mountain {
    z-index: 2;
   
    
}

.parralax::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #272727, transparent);
    z-index: 101;
}

.parralax::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #272727a9;
    z-index: 100;
    mix-blend-mode: color;
}



.parralax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit:cover;
    pointer-events: none;
}


    


#text {
    position: relative;
    color: white;
    font-size: 10em;
    margin-bottom: 0.5em;
    z-index: 1;
}


header {

    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    padding-left: 2em;
    justify-content: space-between;
    position: fixed;
    z-index: 103;
    background: var(--clr-accnt-p);
    
}


 header, .logo, a {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--clr-light);
    font-weight: 100;
    
}


ul {
    justify-content: flex-end;
    display: flex;
    list-style: none;
    padding-right: 2em;

}

a{
    padding: 1em;
    text-decoration: none;
    
}


.portfolio::before{
    content: '';
    width: 100%;
    height: 150px;
    position: relative;
    top: 0;
    background: linear-gradient(to bottom, #2b4141, transparent);
}



.hero{
    min-height: 100vh;
    display: flex;
    Padding: 0 3em;
    position: relative;
    margin-top: 15em;
    background-color: linear-gradient(to bottom, #272727, #202225, #151e21, #091a19, #00150b);
    
}

.content strong {
    color: var(--clr-accnt-p);
}


.content {
   

    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    text-align: left;
    padding: 2em;
}



.hero h2 {
    color: white;
    font-size: 3rem;
}

.hero p {
    color: white;
    font-size: 1.3rem;
    margin-top: 1em;

}

.hero img {
    border-radius: 15px;
    
    
}
